<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>丝法之路</title>
    <!-- 框架 -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!-- 样式清理 -->
    <link href="./css/normalize.css" rel="stylesheet">
    <!-- 通用页面样式 -->
    <link href="./css/main.css" rel="stylesheet">
    <link href="./css/page.css" rel="stylesheet">
    <link href="./css/search.css" rel="stylesheet">
    <link rel="shortcut icon" href="./img/favicon.ico"/>
    <link rel="bookmark" href="./img/favicon.ico" type="./image/x-icon"/>
    <link rel="icon" type="./image/png" href="./img/logo_title.png">
    <style>
      @media (max-width: 700px) { 
        .box-right-mid ul img {
          width : 100%;
	}
      }
    </style>
  </head>
  <body>
    <!-- 移动端导航 -->
    <div class="mask"></div>
    <div class="sidebar">
      <ul>
        <li><a href="index.html">首页</a></li>
        <li><a href="exchange_forum_index.html">交流论坛</a></li>
      </ul>
    </div>
    <div class="main-wrapper main-wrapper-3">
      <!-- header顶部导航 -->
      <header>
	<div class="header-container">
          <div class="nav-box">
            <!-- logo -->
            <div class="nav-left">
              <a id="logo_top" href="#"></a>
            </div>
            <!-- memu选项 -->
            <div class="nav-mid">
              <div id="lang">
		<a href="#"></a>
              </div>
              <ul class="navbar-nav">
		<li><a class="" href="index.html">首页</a></li>
		<li><a class="" href="information_retrieval_index.html">信息检索</a></li>
		<li><a class="" href="consulting_activity_index.html">资讯活动</a></li>
		<li><a class="active" href="exchange_forum_index.html">交流论坛</a></li>
		<li><a class="" href="education_counseling_index.html">教育咨询</a></li>
		<li><a class="" href="aboutus_index.html">我们</a></li>
              </ul>            
            </div>
            <div class="nav-mobile-menu">
              <span class="sidebar_trigger"></span>
            </div>
          </div>
	</div>
      </header>
      <!-- advert组件 -->
      <div class="advert">
	<h1></h1>
	<h2></h2>
      </div>
    </div>
    <section>
      <div class="box clearfix">
	<div class="box-left">
          <div class="title">
            <a href="exchange_forum_index.html" style="text-decoration: none;"><h3>交流论坛</h3></a>
          </div>
	</div>
	<div class="box-right">
          <div class="box-right-top">
            <ul>
              <li>当前位置&nbsp>></li>
              <li>交流论坛&nbsp</li>
            </ul>
          </div>
          <div class="box-right-mid">
            <h4>郑州办公室</h4>
            <p>河南省郑州市中原区科学大道100号</p>
            <p>邮箱:&nbsp legalbeltandroad@hotmail.com</p>
            <p>电话:&nbsp （0371）6778 3100</p>
            <p>微信:&nbsp The Leagl Belt and Road</p>
</div></div></div></div></div></section>   
<!-- footer页面底部 -->
<footer>
  <div class="footer-box clearfix">
    <div class="footer-left">
      <span class="globle"></span>
    </div>
    <div class="footer-right">
      <div class="footer-laber">
        <ul> 
          <li><a href="aboutus_index.html">关于我们</a></li>
          <li><a href="aboutus_index.html">专业团队</a></li>
          <li><a href="index.html">业务介绍</a></li>
        </ul>
        <ul>
          <li><a href="company_culture.html">公司文化</a></li>          
          <li><a href="apply_for_a_job.html">求职招聘</a></li>
          <li><a href="exchange_forum_index.html">联系我们</a></li>
        </ul>                        
        <ul>        
          <li class="footer-contact">邮箱:&nbsp 1830573935@qq.com</li>
          <li class="footer-contact">电话:&nbsp 152 4783 7258</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- 版权信息 -->
<div class="container copy">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="copyright">©2023-2024 sifazhilu.cn Services Limited. All rights reserved. <a href="http://www.miitbeian.gov.cn">沪ICP备 18941 号</a> </p>
    </div>
  </div>
</div>
<!-- 返回顶部按钮 -->
<button class="back-to-top" style="display: none;"></button>
<!-- 框架库加载 -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<!-- 脚本加载 -->
<script src="../js/main.js"></script>    
</body>
</html>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Say Hello!{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
<main class="container">
    <header>
        <h1 class="text-center display-4">
            <a href="{{ url_for('index') }}" class="text-success"><strong>交流论坛</strong></a>
            <small class="text-muted sub-title">to the world</small>
        </h1>
    </header>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2023 sifazhilu.cn 
            </small>
            <p><a id="bottom" href="#" title="Go Top">&uarr;</a></p>
        {% endblock %}
    </footer>
</main>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
</body>
</html>
